/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");
html,
body {
  font-family: sans-serif;
}

nav.navbar,
.navbar-nav {
  background-color: #ffffff !important;
}

.navbar-nav .nav-item .nav-link {
  color: #000;
  font-size: 16px;
  font-family: "Source Sans Pro";
  font-weight: 400;
}

.navbar-nav .nav-item .selected {
  font-weight: 600;
}

.navbar-nav .nav-item .selected::after {
  content: " ";
  display: block;
  height: 4px;
  width: 75%;
  background-color: #2d40f0;
}

.search-box-placeholder {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.search-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 4px;
  width: fit-content;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 46px;
  min-width: 200px;
  background-color: #fdfdfd;
  background-repeat: no-repeat;
  overflow: hidden;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.search-box:focus-within {
  position: fixed;
  width: 68%;
  margin: -15px 0px 0px 0px;
  border-radius: 18px;
}
.search-panel {
  display: flex;
  width: 100%;
}
input[type="text"] {
  background-color: #fdfdfd;
  flex: 0.8;
  border: none !important;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

.search-icon {
  flex: 0.2;
}

.auto-complete-popup {
  display: none;
  /* position: absolute; */
  width: 100%;
  flex: 1;
  padding: 12px 22px;
  min-height: 122px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.search-box:focus-within .auto-complete-popup {
  display: block;
}

.auto-complete-popup li {
  color: #000000;
  font-family: "Source Sans Pro";
  display: block;
  padding: 8px 16px;
}
